
/* 1. Base y Variables */
@import './styles/global/variables.css';
@import './styles/global/reset.css'; /* AÑADE ESTA LÍNEA AQUÍ */
@import './styles/global/utilities.css';

/* 2. Componentes */
@import './styles/components/header.css';
@import './styles/components/footer.css';

/* 3. Vistas */
@import './styles/views/home.css';
@import './styles/views/Reserva.css';