.text-blue { color: var(--azul-club); }
.text-yellow { color: var(--amarillo-club); }

.btn-huracan {
  background-color: var(--azul-club);
  color: var(--blanco-puro);
  padding: 14px 32px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: auto;
}
@media (max-width: 480px) {
  .btn-huracan {
    width: 100%; /* El botón de reserva ocupa todo el ancho en celulares pequeños */
    text-align: center;
    padding: 16px 0; /* Más alto para que sea más fácil de presionar */
  }
}